// Your custom style
.main-display-text {
  font-size: 3rem;
  padding: 0 15%;
}

.navbar-logo {
  height: 2rem;
  max-width: 100%;
  fill: white;
}
.phone_big_mod {
  font-size: 8rem;
  font-weight: bold;
}